<launch>
	<param name="mission_status" type="string" value="going"/>
	<node name="state" pkg="update" type="state_imu_base.py"/>
	<node name="map_visualizer" pkg="map_server" type="map_visualizer.py" />
	
	<node name="path_select" pkg="cv_agents" type="path_mode_select_all.py"/>
	
	<node name="path" pkg="cv_agents" type="path_global_imu_base.py" output="screen"/>
	<node name="control" pkg="cv_agents" type="control_imu_base.py" output="screen"/>

	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find cv_agents)/rviz/boong.rviz"/>
	
</launch>