<launch>

	<node name="map_visualizer" pkg="map_server" type="map_visualizer.py" />

	<node name="state" pkg="update" type="state_sim.py"/>
	<node name="parking_car" pkg="obstacles" type="parking_car.py" />
	<node name="collision_check" pkg="obstacles" type="collision_check_with_visualizing_car.py" />

	<node name="path_select" pkg="cv_agents" type="path_mode_select_all.py"/>

	<node name="path" pkg="cv_agents" type="path_global.py" output="screen"/>
	<node name="control" pkg="cv_agents" type="control_sim.py" output="screen"/>

	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find cv_agents)/rviz/frontier.rviz" />
	
</launch>