<launch>
	<include file="$(find erp42_serial)/launch/erp42_serial_bridge.launch">
	</include>
	<include file="$(find erp42_driver)/launch/erp42_driver.launch">
	</include>

	<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
	</include>
	<include file="$(find adaptive_clustering_v1)/launch/adaptive_clustering_v1.launch">
	</include>

	<include file="$(find imu_sensor)/src/gyr_mag.py">
	</include>
	<include file="$(find imu_filter_madgwick)/launch/imu_filter_madgwick.launch">
	</include>
	<include file="$(find imu_sensor)/src/madgwick_to_yaw.py">
	</include>

	<include file="$(find ublox_gps)/launch/ublox_device.launch">
	</include>
</launch>